<!DOCTYPE html>
<html>
<head lang="zh_cn">
    <!-- 基本配置信息 -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>


    <!-- seo 优化部分 -->
    <meta name="title" content="分享h5 班级码"/>
    <meta name="keywords" content="分享h5 班级码"/>
    <meta name="author" content="sherlock"/>
    <meta name="Description" content="分享h5 班级码"/>



    <!-- h5 页面基准 -->
    <link rel="stylesheet" type="text/css" href="../../static/resources/base/h5_light.min.css" />

    <!-- 业务 -->
    <link rel="stylesheet" type="text/css" href="../../static/service/help/help.css" />


    <title>知了·帮助·使用知了客户端是否收费</title>
</head>
<body>



<section class="help-content">


    <ul id="catalog" class="catalog">

        <li>
            <a>

                使用知了客户端是否收费

            </a>
        </li>
    </ul>

    <section class="sub-content">
        <br/>
       <br/>
       知了是一款免费的移动互联网产品，使用过程中会产生流量消耗，费用由运营商收取。
    </section>
</section>






</body>
</html>