<!DOCTYPE html>
<html>
<head lang="zh_cn">
    <!-- 基本配置信息 -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>


    <!-- seo 优化部分 -->
    <meta name="title" content="分享h5 班级码"/>
    <meta name="keywords" content="分享h5 班级码"/>
    <meta name="author" content="sherlock"/>
    <meta name="Description" content="分享h5 班级码"/>



    <!-- h5 页面基准 -->
    <link rel="stylesheet" type="text/css" href="../../static/resources/base/h5_light.min.css" />

    <!-- 业务 -->
    <link rel="stylesheet" type="text/css" href="../../static/service/help/help.css" />


    <title>知了·帮助·关于知了</title>
</head>
<body>


<section class="help-content">


    <ul id="catalog" class="catalog">

        <li>
            <a>

                关于知了

            </a>
        </li>
    </ul>

    <section class="sub-content">


        <br/>
        <br/>
        “知了”是一款教育社交产品，旨在优化教师与家长之间的沟通模式，同时建立起教师之间、家长之间的社交桥梁；“知了”为用户提供良性的互动平台，让教育回归自然！
        <br/>
        <br/>
        【知了特点】<br/>
        <br/>A. 语音识别输入，定时发送，省时省力
        <br/>B. 班级码精准定位班级，拒绝陌生人
        <br/>C. 教师、家长动态快速筛选查看
        <br/>D. 提供班级管理、孩子管理功能
        <br/>E. 班级群聊，让互动更高效
        <br/>F. 设置评论权限，言论可控
        <br/>G. 知了商城，神秘“豪”礼换不停

        <br/>
        <br/>【知了优势】<br/>
        <br/>A. 专注于教师、家长的社交圈
        <br/>B. 流畅简洁、体验极致
        <br/>C. 打造轻松的社交模式
        <br/>D. 多渠道客服支持，高效为您服务


        <br/>
        <br/>官网地址：<a href="http://www.imzhiliao.com">www.imzhiliao.com</a>
        <br/>
        <br/>二维码下载：<br/>
        <img src="../../static/img/help/code.jpeg" width="123" height="123" />
    </section>
</section>




</body>
</html>