<!DOCTYPE html>
<html>
<head lang="zh_cn">
    <!-- 基本配置信息 -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>


    <!-- seo 优化部分 -->
    <meta name="title" content="分享h5 班级码"/>
    <meta name="keywords" content="分享h5 班级码"/>
    <meta name="author" content="sherlock"/>
    <meta name="Description" content="分享h5 班级码"/>



    <!-- h5 页面基准 -->
    <link rel="stylesheet" type="text/css" href="../../static/resources/base/h5_light.min.css" />

    <!-- 业务 -->
    <link rel="stylesheet" type="text/css" href="../../static/service/help/help.css" />


    <title>知了·帮助·在知了客户端上发布的消息能显示在电脑网页上吗？</title>
</head>
<body>



<section class="help-content">


    <ul id="catalog" class="catalog">

        <li>
            <a>
                在知了客户端上发布的消息能显示在电脑网页上吗？
            </a>
        </li>
    </ul>

    <section class="sub-content">
        <br/><br/>
        您好！知了致力通过手机让老师和家长使用更方便，暂时仅在手机客户端显示。暂不支持电脑登陆。
    </section>
</section>






</body>
</html>