<!DOCTYPE html>
<html>
<head lang="zh_cn">
    <!-- 基本配置信息 -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>


    <!-- seo 优化部分 -->
    <meta name="title" content="分享h5 班级码"/>
    <meta name="keywords" content="分享h5 班级码"/>
    <meta name="author" content="sherlock"/>
    <meta name="Description" content="分享h5 班级码"/>



    <!-- h5 页面基准 -->
    <link rel="stylesheet" type="text/css" href="../../static/resources/base/h5_light.min.css" />

    <!-- 业务 -->
    <link rel="stylesheet" type="text/css" href="../../static/service/help/help.css" />


    <title>知了·帮助·如何发布消息</title>
</head>
<body>



<section class="help-content">


    <ul id="catalog" class="catalog">

        <li>
            <a>

                如何发布消息

            </a>
        </li>
    </ul>

    <section class="sub-content">

        <br/>
        1、打开知了，点击右上角发布按钮进入消息编辑界面

        <div class="text-center">
            <img src="../../static/img/help/发布@2x.png"  class=" ib response-img" />
        </div>


        2、选择发送对象<br/>

        <div class="text-center">
            <img src="../../static/img/help/选择发送对象@2x.png"  class=" ib response-img" />
        </div>



        3、编辑发送内容<br/>

        &emsp;&emsp;A 支持语音智能转文字：点击“话筒”说出所要发布的内容，点击“说完了”，文字跃然眼前。<br/>
        &emsp;&emsp;B 插入图片：点击“相机”，选择拍照或从手机相册选择，设定要发布的图片。<br/>
        &emsp;&emsp;C 定时发送：点击“时间”按钮，设置发送时间，点击“确定”完成设置。<br/>
        &emsp;&emsp;D 评论权限：点击“公开评论”按钮，设置是否允许成员发表评论。<br/>
        <div class="text-center">
            <img src="../../static/img/help/发布界面@2x.png"  class=" ib response-img" />
        </div>



        4、编辑完成后点击右上角“发送”按钮发布新消息。<br/>





    </section>
</section>






</body>
</html>