<!DOCTYPE html>
<html>
<head lang="zh_cn">
    <!-- 基本配置信息 -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>


    <!-- seo 优化部分 -->
    <meta name="title" content="分享h5 班级码"/>
    <meta name="keywords" content="分享h5 班级码"/>
    <meta name="author" content="sherlock"/>
    <meta name="Description" content="分享h5 班级码"/>



    <!-- h5 页面基准 -->
    <link rel="stylesheet" type="text/css" href="../../static/resources/base/h5_light.min.css" />

    <!-- 业务 -->
    <link rel="stylesheet" type="text/css" href="../../static/service/help/help.css" />


    <title>知了·帮助·新用户无班级码，如何加入班级</title>
</head>
<body>



<section class="help-content">


    <ul id="catalog" class="catalog">

        <li>
            <a>

                新用户无班级码，如何加入班级

            </a>
        </li>
    </ul>

    <section class="sub-content">

        <br/>
        1、打开知了，点击下方“没有班级码 加入班级”进入加入班级页面，输入手机号，设置密码后点击“进入”。

        <div class="text-center">
            <img src="../../static/img/help/新用户有班级1.png" class=" ib response-img" />
        </div>

        <br/>
        2、允许软件向您发送4位短信验证码以验证您的手机号码。

        <div class="text-center">
            <img src="../../static/img/help/加入班级@2x.png" class=" ib response-img" />
        </div>
        <br/>
        3、输入接收到的4位短信验证码，通过短信验证后进入“知了”首页，点击“添加班级”，选择学校和班级后，点击“下一步”，进入角色选择。

        <div class="text-center">
            <img src="../../static/img/help/3@2x.png" class=" ib response-img" />
        </div>
        <br/>
        注：如没有查找到孩子所在的学校和班级，可以点击“还没有您的学校？”，选择自主创建或者请客服帮您创建学校。
        <div class="text-center">
            <img src="../../static/img/help/4@2x.png" class=" ib response-img" />
        </div>
        4、选择您的角色并完善信息，点击“完成”进入班级分享。在班级分享页面，您可以看到班级码，还可以通过微信、QQ、短信等方式邀请其他教师和家长加入。
        <br/>
        <div class="text-center">
            <img src="../../static/img/help/分享@2x.png" class=" ib response-img" />
        </div>
        <br/>
        5、点击“先体验一下”进入班级主页，查看班级状态。
        <div class="text-center">
            <img src="../../static/img/help/知了首页@2x.png" class=" ib response-img" />
        </div>



    </section>
</section>






</body>
</html>