<!DOCTYPE html>
<html>
<head lang="zh_cn">
    <!-- 基本配置信息 -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>


    <!-- seo 优化部分 -->
    <meta name="title" content="分享h5 班级码"/>
    <meta name="keywords" content="分享h5 班级码"/>
    <meta name="author" content="sherlock"/>
    <meta name="Description" content="分享h5 班级码"/>



    <!-- h5 页面基准 -->
    <link rel="stylesheet" type="text/css" href="../../static/resources/base/h5_light.min.css" />

    <!-- 业务 -->
    <link rel="stylesheet" type="text/css" href="../../static/service/help/help.css" />


    <title>知了·帮助·新用户如何获取班级码？</title>
</head>
<body>



<section class="help-content">


    <ul id="catalog" class="catalog">

        <li>
            <a>

                新用户如何获取班级码

            </a>
        </li>
    </ul>

    <section class="sub-content">
        <br/>
        1、通过您所在班级已使用知了的教师或家长获取；
        <br/>
        <br/>
        2、通过拨打客服电话4000-910-061获取班级码；
        <br/><br/>
        3、选择无班级码方式加入班级，进班成功后会显示带有班级码的页面：

        <div class="text-center">
            <img src="../../static/img/help/班级分享@2x.png"  class=" ib response-img" />
        </div>
        



    </section>
</section>






</body>
</html>