<!DOCTYPE html>
<html>
<head lang="zh_cn">
    <!-- 基本配置信息 -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>


    <!-- seo 优化部分 -->
    <meta name="title" content="分享h5 班级码"/>
    <meta name="keywords" content="分享h5 班级码"/>
    <meta name="author" content="sherlock"/>
    <meta name="Description" content="分享h5 班级码"/>



    <!-- h5 页面基准 -->
    <link rel="stylesheet" type="text/css" href="../../static/resources/base/h5_light.min.css" />

    <!-- 业务 -->
    <link rel="stylesheet" type="text/css" href="../../static/service/help/help.css" />


    <title>知了·帮助·新用户有班级码，如何加入班级</title>
</head>
<body>



<section class="help-content">


    <ul id="catalog" class="catalog">

        <li>
            <a>

                新用户有班级码，如何加入班级

            </a>
        </li>
    </ul>

    <section class="sub-content">

        <br/>
        1、打开知了，点击加入班级，在班级码输入框中输入班级码，点击“加入”跳转至注册界面，请核对您要加入的班级信息，确保无误。

        <div class="text-center">
            <img src="../../static/img/help/新用户有班级1.png" class=" ib response-img" />
        </div>

        <br/>
        2、核对班级信息无误，输入您的手机号、设置密码点击“进入”，按照提示填写您收到的4位验证码，进入角色选择；

        <div class="text-center">
            <img src="../../static/img/help/加入班级@2x.png" class=" ib response-img" />
        </div>
        <br/>
        3、选择您的角色并完善信息，点击“完成”进入知了主页。


        <div class="text-center">
            <img src="../../static/img/help/2@2x.png" class=" ib response-img" />
        </div>


    </section>
</section>






</body>
</html>