@charset "UTF-8";
html {
    font-size: 16px; }

button, a {
    outline: none; }

body {
    font-size: 0.875rem;
    color: #5e5e5e; }
body #main {
    display: none;
    width: 100%;
    height: inherit; }
body header {
    background: #ffffff;
    height: 5.875rem; }
body header .logo {
    background-position: 0 0;
    width: 12.125rem;
    height: 4.25rem;
    position: relative;
    top: 1.0625rem;
    cursor: pointer; }
body header nav > ul {
    overflow: hidden;
    position: relative;
    top: 1.875rem; }
body header nav > ul > li {
    float: left; }
body header nav > ul > li a {
    display: block;
    color: #5e5e5e;
    font-size: 1rem;
    padding: 0.3125rem 1.5rem;
    border-radius: 20px;
    margin-left: 1.875rem; }
body header nav > ul > li a:hover {
    color: #ffffff;
    background: #5177c3; }
body header nav > ul > li a.active {
    color: #ffffff;
    background: #5177c3; }
body #content {
    height: 100%; }
body #content .zhiliao-code {
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
    padding: 4px 9px;
    position: absolute;
    right: 2%;

    z-index: 999;
    margin-top: -185px; }
body #content .zhiliao-code p {
    text-align: center;
    margin-top: -5px; }
body #content .bg-main {
    background-size: cover;
    width: 100%;
    height: inherit;
    position: absolute;
    background-position: center center;
    -webkit-transition: all 0.6s linear;
    transition: all 0.6s linear;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    /** hack微信下 问题 **/
    margin-top: -1px;
    background-origin: #ffffff; }
body #content .bg-list {
    position: relative;
    width: 100%;
    height: inherit;
    overflow-x: hidden; }
body #content .bg-01 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -16.125rem;
    margin-top: -17.53125rem; }
body #content .bg-02 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -16.3125rem;
    margin-top: -17.53125rem; }
body #content .bg-03 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8.125rem;
    margin-top: -17.53125rem; }
body footer {
    background: #253555; }
body footer .footer-ct {
    padding: 7.5rem 0 6.75rem 0;
    text-align: center;
    background: #ffffff; }
body footer .footer-main {
    background: url("../../img/bottom.jpg");
    background-size: cover;
    width: 100%;
    padding: 5rem 0; }
body footer .mobile-info .title {
    color: #ffffff;
    font-size: 2.0625rem;
    margin-bottom: 5rem; }
body footer .company {
    color: #7787a9;
    font-size: 1rem;
    line-height: 7.1875rem; }
body #content {
    position: relative; }

.container {
    margin: 0 auto;
    width: 62.5rem;
    position: relative;
    height: inherit; }

.phone {
    background-position: -0.375rem -7.6875rem;
    width: 7.875rem;
    height: 13.5rem;
    margin-bottom: 4.375rem; }

.phone-02 {
    background-position: -8.75rem -7.8125rem;
    width: 7.875rem;
    height: 13.5rem;
    margin-bottom: 4.375rem; }

.phone-03 {
    background-position: -16.875rem -7.8125rem;
    width: 7.875rem;
    height: 13.5rem;
    margin-bottom: 4.375rem; }

.font-01 {
    background-position: 0 0;
    width: 32.25rem;
    height: 2.25rem;
    margin-bottom: 1.875rem;
    -webkit-animation: fadeInUp 0.8s ease 0.3s 1 both;
    animation: fadeInUp 0.8s ease 0.3s 1 both; }

.font-png {
    background-image: url("../../img/all-font.png");
    background-size: 36.3125rem 15.125rem; }

.font-01-small {
    background-position: 0 -2.25rem;
    width: 18.875rem;
    height: 1.25rem;
    margin-bottom: 2.375rem;
    -webkit-animation: fadeInUp 0.8s ease 0.8s 1 both;
    animation: fadeInUp 0.8s ease 0.8s 1 both; }

.font-02 {
    background-position: 0 -5.875rem;
    width: 32.625rem;
    height: 2.1875rem;
    margin-bottom: 1.875rem; }

.font-02-small {
    background-position: 0 -8.75rem;
    width: 12rem;
    height: 1.125rem;
    margin-bottom: 2.375rem; }

.font-03 {
    background-position: 0 -10.25rem;
    width: 12.5rem;
    height: 2.5625rem;
    margin-bottom: 1.875rem; }

.font-03-small {
    background-position: 0 -12.875rem;
    width: 13.125rem;
    height: 1.125rem;
    margin-bottom: 2.375rem; }

.dowload-btn {
    z-index: 99999;
    background: #f3985b;
    color: #ffffff;
    font-size: 1.125rem;
    text-align: center;
    width: 16.25rem;
    height: 3rem;
    border-radius: 4px;
    display: inline-block;
    line-height: 3rem;
    margin-bottom: 3.75rem; }

.dowload-btn:hover {
    background: #fbaa74;
    color: #ffffff;
    text-decoration: none; }

.btn-base {
    margin: 0;
    padding: 0;
    border: 0 none; }

.btn-px {
    border: 2px solid #ffffff;
    border-radius: 40px;
    width: 14.375rem;
    height: 4.875rem;
    line-height: 4.875rem;
    color: #ffffff;
    background: transparent;
    font-size: 2rem; }

.android-icon {
    background-position: -2.8125rem -4.25rem;
    width: 2.8125rem;
    height: 3.25rem; }

.ios-icon {
    background-position: 0 -4.25rem;
    width: 2.8125rem;
    height: 3.25rem;
    position: relative;
    left: -0.5rem; }

.mr-btn {
    margin-right: 5.9375rem; }

.timeline.hoz {
    position: absolute;
    right: 1.25rem;
    top: 50%; }

.bg-timeline {
    position: absolute;
    text-align: center;
    left: 0px;
    width: 100%;
    top: 86%;
    margin-top: 0; }
.bg-timeline li {
    float: left;
    margin: 0 0.3125rem; }
.bg-timeline ul {
    overflow: hidden;
    display: inline-block; }
.bg-timeline ul li a {
    display: block;
    background-position: 0 -21.4375rem;
    width: 0.6875rem;
    height: 0.8125rem; }
.bg-timeline ul li a.active {
    background-position: -0.6875rem -21.4375rem; }

.house {
    background-position: -0.6875rem -56.8125rem;
    width: 8.0625rem;
    height: 9rem; }

.voice {
    background-position: -0.6875rem -65.75rem;
    width: 8.0625rem;
    height: 9rem; }

.mobile {
    background-position: -0.6875rem -74.75rem;
    width: 8.0625rem;
    height: 9rem; }

.menu-info {
    width: 240px;
    margin: 0 2.8125rem;
    color: #909090;
    font-size: 12px; }

.menu {
    display: inline-block; }
.menu h5 {
    margin: 1rem 0; }

/** loading hack **/
.mp_loading {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #415f9d;
    left: 0;
    top: 0;
    -webkit-transform-style: preserve-3d;
    z-index: 1; }

.loading {
    background-image: url("../../img/loading.gif");
    background-size: 19.375rem 5rem;
    width: 19.375rem;
    height: 5rem; }

.mp_loading_clip {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -9.9375rem;
    margin-top: -2.5rem;
    overflow: hidden; }

.mp_loading_txt {
    width: 100px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    color: #fff;
    margin-left: -50px;
    margin-top: 30px; }

/** cat **/
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0); }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); } }
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0); }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); } }
@-moz-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0); }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); } }
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp; }

.renzhen-360 {
    position: relative;
    top: 6px;
    left: 15px; }
.renzhen-360 img {
    width: 50px;
    height: auto; }

@media screen and (min-width: 1001px) {
    .all-img {
        background-image: url("../../img/all.png");
        background-size: 62.5rem 125rem; } }
@media screen and (max-width: 1000px) {
    html {
        font-size: 8px; }

    body #content .bg-01 {
        top: 50px;
        margin-top: 0 !important; }
    body #content .bg-02 {
        top: 50px;
        margin-top: 0 !important; }
    body #content .bg-03 {
        top: 50px;
        margin-top: 0 !important;
        width: 436px;
        margin-left: -218px; }
    body header nav > ul > li {
        float: left; }
    body header nav > ul > li a {
        display: block;
        font-size: 1.5rem; }
    body header .container .pull-left {
        padding-left: 10px; }
    body header .container .pull-right {
        padding-right: 10px; }
    body .container {
        width: 100% !important;
        overflow: hidden; }
    body .bg-timeline {
        position: absolute;
        text-align: center;
        left: 0px;
        width: 100%;
        top: 86%;
        margin-top: 0; }
    body .bg-timeline li {
        float: left;
        margin: 0 0.3125rem; }
    body .zhiliao-code {
        display: none !important; }
    body footer .mobile-info .title {
        color: #ffffff;
        font-size: 2.0625rem;
        font-weight: bold;
        margin-bottom: 3.625rem; }
    body footer .footer-ct {
        padding: 6rem 0 3rem 0; }
    body .menu-info {
        margin: 2.8125rem 0; }
    body .menu h5 {
        color: #000; }
    body .all-img {
        background-image: url("../../img/all@2x.png");
        background-size: 62.5rem 125rem; }
    body .phone {
        background-position: -0.5rem -45.25rem;
        width: 16.25rem;
        height: 29.375rem; }
    body .phone-02 {
        background-position: -17.375rem -45.25rem;
        width: 16.25rem;
        height: 29.375rem; }
    body .phone-03 {
        background-position: -34.375rem -45.25rem;
        width: 16.25rem;
        height: 29.375rem; }
    body .dowload-btn {
        background: #f3985b;
        color: #ffffff;
        font-size: 1.875rem;
        text-align: center;
        width: 28.375rem;
        height: 4.75rem;
        border-radius: 4px;
        display: inline-block;
        line-height: 4.75rem;
        margin-bottom: 6.25rem !important; }
    body .house {
        background-position: 0rem -22.3125rem;
        width: 10.625rem;
        height: 11.25rem; }
    body .voice {
        background-position: 0rem -33.5rem;
        width: 10.625rem;
        height: 11.25rem; }
    body .mobile {
        background-position: -10.625rem -22.3125rem;
        width: 10.625rem;
        height: 11.25rem; }
    body .menu-info {
        width: 240px;
        margin: 0 2.8125rem;
        color: #909090;
        font-size: 12px; }
    body .menu {
        display: inline-block;
        margin-bottom: 3.75rem; }
    body .menu h5 {
        margin: 1rem 0;
        font-size: 1.3125rem; }
    body #downList {
        text-align: center; }
    body .btn-px {
        border: 2px solid #ffffff;
        border-radius: 40px;
        width: 28.75rem;
        height: 6rem;
        color: #ffffff;
        background: transparent;
        font-size: 2rem;
        margin-bottom: 2.875rem; }
    body .btn-px.mr-btn {
        margin-right: 0; } }
@media screen and (max-width: 320px) and (max-height: 480px) {
    body #content .bg-01 {
        margin-top: -19.375rem; }
    body #content .bg-02 {
        margin-top: -19.375rem; }
    body #content .bg-03 {
        margin-top: -19.375rem; }
    body .bg-timeline {
        top: 80%; }
    body .phone {
        background-position: -0.5rem -74.625rem;
        width: 8.125rem;
        height: 13.375rem; }
    body .phone-02 {
        background-position: -8.625rem -74.625rem;
        width: 8.125rem;
        height: 13.375rem; }
    body .phone-03 {
        background-position: -16.75rem -74.625rem;
        width: 8.125rem;
        height: 13.375rem; } }

/*# sourceMappingURL=index.css.map */
