<!DOCTYPE html>
<html>
<head lang="zh_cn">
    <!-- 基本配置信息 -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>


    <!-- seo 优化部分 -->
    <meta name="title" content="分享h5 班级码"/>
    <meta name="keywords" content="分享h5 班级码"/>
    <meta name="author" content="sherlock"/>
    <meta name="Description" content="分享h5 班级码"/>



    <!-- h5 页面基准 -->
    <link rel="stylesheet" type="text/css" href="../../static/resources/base/h5_light.min.css" />

    <!-- 业务 -->
    <link rel="stylesheet" type="text/css" href="../../static/service/help/help.css" />


    <title>知了·帮助·对比大众产品优势</title>
</head>
<body>



<section class="help-content">


    <ul id="catalog" class="catalog">

        <li>
            <a>

                对比大众产品优势

            </a>
        </li>
    </ul>

    <section class="sub-content">

        <br/>A、这里只有老师和家长，！
        <br/><br/>B、老师发布内容老师所发信息优先排序展示，不沉底，不用查看聊天记录！保证家校信息对称和及时性，让老师更方便家长更安心！
        <br/><br/>C、操作简单快捷，直达班群。发布只需3分钟搞定！
        <br/><br/>D、交流空间由老师主控，保证老师工作和生活时间不被过多打扰，回应只需一个“赞”，让老师得到解压和放松！
        <br/><br/>E、保护老师和家长个人隐私，将工作和生活空间分开。再也不用为切换QQ/微信烦恼了

    </section>
</section>






</body>
</html>