<!DOCTYPE html>
<html>
<head lang="zh_cn">
    <!-- 基本配置信息 -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>


    <!-- seo 优化部分 -->
    <meta name="title" content="分享h5 班级码"/>
    <meta name="keywords" content="分享h5 班级码"/>
    <meta name="author" content="sherlock"/>
    <meta name="Description" content="分享h5 班级码"/>



    <!-- h5 页面基准 -->
    <link rel="stylesheet" type="text/css" href="../../static/resources/base/h5_light.min.css" />

    <!-- 业务 -->
    <link rel="stylesheet" type="text/css" href="../../static/service/help/help.css" />


    <title>知了·帮助·活跃值规则</title>
</head>
<body>



<section class="help-content">


    <ul id="catalog" class="catalog">

        <li>
            <a>

                活跃值规则

            </a>
        </li>
    </ul>

    <section class="sub-content">
        <br/>
       <br/>

        ［活跃值是什么？］  <br/><br/>
        &nbsp;&nbsp;使用知了，教师可获得相应的活跃值，活跃值是教师的辛勤工作在知了上的展现。<br/><br/>
        ［活跃值能做什么？］<br/><br/>
        &nbsp;&nbsp;教师获得的活跃值可以在“知了商城”中兑换礼品或代金券。礼物不断，惊喜不停!<br/><br/>
        ［活跃值如何获取？］<br/><br/>
        &nbsp;&nbsp;1. 每日登录：每日以首次登录为准，一次性奖励教师10点活跃值。<br/><br/>
        &nbsp;&nbsp;2. 收获的赞：教师收获一个赞即获得1点活跃值。每日最多获得“3点*所在班级人数”点活跃值。例：一年级一班共计有教师和家长50人，那么一年级一班的教师，一天最多可获得3点*50人=150点活跃值。<br/><br/>
        &nbsp;&nbsp;3. 邀请用户：邀请其他教师加入知了，每有一个新教师成功加入班级，奖励该班所有老师各30点活跃值，以首次进班为准。邀请其他家长加入知了，每有一个新家长成功加入班级，奖励该班所有老师各10点活跃值，以首次进班为准。<br/><br/>

        ［活跃值多久能生效？］<br/><br/>
         &nbsp;&nbsp;正常情况下，立即生效。



    </section>
</section>






</body>
</html>