<!DOCTYPE html>
<html>
<head lang="zh_cn">
    <!-- 基本配置信息 -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>


    <!-- seo 优化部分 -->
    <meta name="title" content="分享h5 班级码"/>
    <meta name="keywords" content="分享h5 班级码"/>
    <meta name="author" content="sherlock"/>
    <meta name="Description" content="分享h5 班级码"/>



    <!-- h5 页面基准 -->
    <link rel="stylesheet" type="text/css" href="../../static/resources/base/h5_light.min.css" />

    <!-- 业务 -->
    <link rel="stylesheet" type="text/css" href="../../static/service/help/help.css" />


    <title>知了·帮助·知了软件出现:“小知了累了”或“网络不给力”怎么办?</title>
</head>
<body>



<section class="help-content">


    <ul id="catalog" class="catalog">

        <li>
            <a>
                知了软件出现:“小知了累了”或“网络不给力”怎么办
            </a>
        </li>
    </ul>

    <section class="sub-content">
        <br/><br/>1、请确认您是否开启2G/3G/4G网络或WIFI
        <br/><br/>2、请确认您手机是否欠费停机
        <br/><br/>3、请确认wifi网络是否正常
        <br/><br/>4、关闭手机、重启知了软件进行尝试
        <br/><br/>5、卸载知了软件重新安装进行尝试
        <br/><br/>6、致电知了客服：4000-910-061


    </section>
</section>






</body>
</html>