/* scroll 界面基本配置 */
.content,
.content .wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.screen-all {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    -webkit-transition:  -webkit-transform 0.6s ease;
    transition: transform  0.6s ease;

    white-space: nowrap;
    font-size: 0;
}

.screen-all .screen {
    position: relative;
    width: 100%;
    height: 100%;
    color: #000000;
    font-size: 12px;
}

/** 水平 **/
.screen-all.horizontal > .screen{
    display: inline-block;
    vertical-align: top;
}


/** 水平 **/
.screen-all.vertical > .screen{

}

/** 3d场景 **/
.D3-main{
    -webkit-perspective : 800;
    -webkit-perspective-origin : 50% 50%;
    /** 防止影响其它场景 **/
    overflow: hidden;
}

.D3-screen{
    /** 3d模式 渲染 **/
    -webkit-transform-style : preserve-3d;
    width: 100%;
    height: 100%;
    position: relative;
}

.D3-screen .screen{
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;

    color: white;
    font-size: 100px;
    line-height: 190px;
    text-align: center;
    font-weight: bold;

    -webkit-transform-origin : 50% 100%;
    -webkit-transition : -webkit-transform 1s ease;
    transition : transform 1s ease;

    /** 设置旋转角度 **/
    -webkit-transform : rotateX(90deg);
    transform : rotateX(90deg);
}

.D3-screen .screen:nth-child(1){
    /** 设置旋转角度 **/
    -webkit-transform : rotateX(0deg);
    transform : rotateX(0deg);
}

